@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --ligth-orange: #de7137;
    --dark-orange: #a23d07;
}

body{
    font-weight: 300;
    font-size: 1.05rem;
    line-height: 1.6;
    font-family: 'Poppins', sans-serif;
    background-image: url(./img/food.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* CABECERA  */

.container{
    min-height: 100vh;
}

.meal-wrapper{
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.meal-search{
    margin: 2rem 0;
}

.title{
    font-size: 2.8rem;
    margin-bottom: 1rem;
    color: black;
}

.enlace-home {
    text-decoration: none;
}

.quote {
    font-weight: bolder;
    font-size: 1.6rem;
}

/* SEARCH */

.meal-search-box{
    margin: 1.2rem 0;
    display: flex;
    justify-content: center;
}

.search-btn{
    font-family: inherit;
    cursor: pointer;
    outline: 0;
    width: 55px;
    height: 55px;
    font-size: 1.8rem;
    background: var(--ligth-orange);
    color: #fff;
    border: none;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    transition: all 0.4s linear;
}

.search-control{
    width: 100%;
    padding: 0 1rem;
    font-size: 1.1rem;
    font-family: inherit;
    outline: 0;
    border: 1px solid var(--ligth-orange);
    color: var(--ligth-orange);
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

.search-control::placeholder{
    color: var(--ligth-orange);
}

.search-btn:hover{
    background: var(--dark-orange);
}

/* RESULTS */

.meal-result{
    margin-top: 4rem;
}

#meal{
    margin: 2.4rem 0;
    color: var(--dark-orange);
}

.meal-item{
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.79);
    margin: 2rem 0;
}

.meal-img img {
    width: 100%;
    display: block;
}

.meal-name{
    padding: 1.5rem 0.5rem;
    font-size: 1.4rem;
}

.recipe-btn{
    text-decoration: none;
    color: #fff;
    background: var(--ligth-orange);
    font-weight: 500;
    font-size: 1.1rem;
    padding: 0.75rem 0;
    display: block;
    width: 175px;
    margin: 1rem auto;
    border-radius: 2rem;
    transition: all 0.4s linear;
}

.recipe-btn:hover{
    background: var(--dark-orange);
}

/* MEAL DETAILS */

.meal-details{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--ligth-orange);
    border-radius: 1rem;
    width: 90%;
    height: 90%;
    overflow-y: scroll;
    display: none;
    padding: 2rem 0;
}

.meal-details::-webkit-scrollbar{
    width: 10px;
}

.meal-details::-webkit-scrollbar-thumb{
    background: #f0f0f0;
    border-radius: 2rem;
}

/* CONTENIDO CREADO EN JS */

.showRecipe{
    display: block;
}

.meal-details-content{
    margin: 2rem;
}

.recipe-close-btn{
    position: absolute;
    right: 2rem;
    top: 2rem;
    font-size: 1.8rem;
    background: #fff;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
}

.recipe-title{
    padding-bottom: 1rem;
}

.recipe-category{
    background: #fff;
    font-weight: 600;
    color: var(--ligth-orange);
    display: inline-block;
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
}

.recipe-instruct{
    padding: 1rem 0;
}

.recipe-meal-img img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 20px auto;
    display: block;
}

.recipe-link{
    margin: 1.4rem 0;
}

.recipe-link a{
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;
    transition: all 0.4s linear;
}

.notFound{
    grid-template-columns: 1fr!important;
    color: var(--dark-orange);
    font-size: 1.8rem;
    font-weight: 600;
    width: 100%;
}

/* FOOTER BTN UP */

#footer {
    display: flex;
    justify-content: right;
    margin: 0;
}

.btn-up {
    font-size: 1.2rem;
    text-decoration: none;
    color: #fff;
    background-color: var(--ligth-orange);
    width: 80px;
    height: 80px;
    border: none;
    border-radius: 50%;
    transition: all 0.4s linear;
    cursor: pointer;
    margin-right: 300px;
    margin-bottom: 100px;
}

.btn-up:hover {
    background-color: #fff;
    color: var(--ligth-orange);
    border: 1px solid var(--ligth-orange);
}

/* MEDIA QUERIES */

@media (max-width: 500px) {
    .meal-search{
        margin: 0;
    }
    .meal-wrapper{
        margin: 0;
        padding: 0.3rem;
    }
    .meal-search {
        text-align: center;
    }
    .title{
        font-size: 2.4rem;
        margin: 0;
    }
    .quote {
        font-weight: bolder;
        font-size: 1.2rem;
        margin: 0;
    }
    .btn-up {
        width: 60px;
        height: 60px;
        margin-right: 50px;
        margin-bottom: 50px;
    }
}

@media (max-width: 500px) {
    .meal-item {
        margin: 10px;
    }
    .meal-search-box{
        width: 380px;
    }
}

@media screen and (min-width: 600px){
    .meal-search-box{
        width: 540px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px){
    #meal{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .meal-item{
        margin: 0;
    }
    .meal-details{
        width: 700px;
    }  
}

@media screen and (min-width: 992px){
    #meal{
         grid-template-columns: repeat(3, 1fr);
    }
}